## begin dtn2admin
# Adding egress plans
# NOTE: ione uses the old syntax as of 2024-07-24:
# a plan upper2.dtn x bibe/dtn://upper2.dtn
a plan upper2.dtn x bibe/dtn://lower2.dtn
a plan lower2.dtn x tcp/127.0.0.1:4554
## end dtn2admin
